.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.inputContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;

}

.searchInput {
  width: 90%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #f9f9f9;

}

.clearIcon {
  cursor: pointer;
  margin-top: 5px;

}

.clearIcon:hover {
  color: #f44336;
}

.sortButton {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 30%;
}

.sortButton:hover {
  background-color: #0056b3;
}

.item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeOut 0.5s ease; 
}
.fadeOutAnimation{
  animation: fadeOut 0.5s ease; 

}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.item a {
  text-decoration: none;
  color: #333;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.paginationButton{
  margin-top: 30px;
  padding: 8px 12px;
}
.pageNumber{
  margin: 0 10px;
  font-weight: 700;
}


.pagination{
  position: fixed;
}